input[type="number"] {
  max-width: 80%;
}

/*SIDEBAR */
 .skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper .main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    background-color: #262626;
    font-family: 'Source Code Pro', monospace;
    border-style: solid;
    border-width: thin;
    border-color: #ec9d26;
}

/*MAIN HEADER*/
.skin-blue .main-header .navbar {
    background-color: #090909;
    font-family: 'Source Code Pro', monospace;
    border-style: solid;
    border-width: thin;
    border-color: #ec9d26;
}

.skin-blue .main-header .logo {
    background-color: #090909;
    font-family: 'Source Code Pro', monospace;
    border-style: solid;
    border-width: thin;
    border-color: #ec9d26;
}

/*MAP*/
#map{
    height: 650px;
    visibility: inherit;
    position: relative;
    outline: none;
}

/*DASHBOARD BODY (MAP) */
.content {
   height: 0px;
   padding: 0px;
   margin-right: auto;
   margin-left: auto;
   padding-left: 0px;
   padding-right: 0px;
   background-color: #090909;
}

.content-wrapper, .right-side {
    min-height: 100%;
     background-color: #090909; 
    z-index: 800;
}

/*LAYER CONTROL*/
.leaflet-control-layers-expanded {
    position: relative;
    width: 230px;
    left: auto;
    right: 10px;
    cursor: move;
  /*  padding: 10px 10px 10px 10px; */
    border-radius: 5px 5px 5px 5px;
    color: white;
    background-color: #262626;
    font-family: 'Source Code Pro', monospace;
    border-style: solid;
    border-width: thin;
    border-color: #ec9d26;
    font-size: 14px;
    opacity: .80;
    border: none;
}


.leaflet-control-layers-expanded:hover {
    opacity: 1;
    background-color: #090909;
}


/* absolute panel */
#controls1 {
  width: 800px;
  height: 600px;
  background-color: #262626;
  opacity: 0.80;
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-size: 17px;
  position: absolute;
  right: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #ec9d26;
}

/*modal dialogue box 
.modal dialog{
  width: 800px;
  height: 600px;
  background-color: #262626;
  opacity: 0.80;
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-size: 17px;
  position: absolute;
  right: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #ec9d26;
}
*/